In [15]:
import pandas as pd
df = pd.read_csv('../vehicles.csv')
df['odometer'] = pd.to_numeric(df['odometer'], errors='coerce')
df = df.dropna(subset=['odometer'])
df.head()

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,NaN,1.0,2018-06-23,19
1,25500,NaN,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,NaN,2019-02-07,79
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,NaN,2019-04-02,28
5,14990,2014.0,chrysler 300,excellent,6.0,gas,57954.0,automatic,sedan,black,1.0,2018-06-20,15

In [16]:
import plotly.express as px
import plotly.io as pio

fig = px.histogram(df, x='odometer', title='Distribuição do Hodômetro')

# salva um arquivo HTML independente (não precisa servidor local)
pio.write_html(fig, file='hist_odometer.html', auto_open=True, include_plotlyjs='cdn')

In [17]:
# 1) HISTOGRAMA — já funcionou e salva HTML
import pandas as pd, plotly.express as px, plotly.io as pio
df = pd.read_csv('../vehicles.csv')
df['odometer'] = pd.to_numeric(df['odometer'], errors='coerce')
df = df.dropna(subset=['odometer'])
fig1 = px.histogram(df, x='odometer', title='Distribuição do Hodômetro')
pio.write_html(fig1, file='hist_odometer.html', auto_open=False, include_plotlyjs='cdn')

In [18]:
# 2) SCATTER simples e também salvo
base = df.dropna(subset=['model_year', 'price'])
fig2 = px.scatter(base, x='model_year', y='price',
                  title='Preço vs Ano do Modelo', opacity=0.4)
pio.write_html(fig2, file='scatter_price_year.html', auto_open=False, include_plotlyjs='cdn')